$header: #111111;
$body: #ffffff;
$circle-count: #fcb500;
$preview-body: #fcda28;
$title: #f1e4e6;
$dark-overlay: rgba(0, 0, 0, 0.8);
$white-overlay: rgba(244, 244, 244, 0.7);
$text: #4d4d4d;
$menu-link: #fff;
