.header {
   &__inner {
      background-color: $header;
      min-height: 80px;
      display: flex;
      align-items: center;
      padding: 0 64px;
      top: 0;
      z-index: 99999;
      width: 100%;
      @media screen and (min-width: 320px) and (max-width: 575.98px) {
         padding: 0 15px;
      }
   }

   &__topline {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;
   }

   &__topline-left {
      display: flex;
      align-items: center;
   }
   &__logo {
      max-width: 120px;
   }

   &__topline-menu-center-list {
      display: flex;
      flex-wrap: wrap;
   }

   &__menu-item {
      margin: 0 20px;
      @include media("max", "large") {
         margin: 0 12px;
      }
   }

   &__menu-item-link {
      color: $body;
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
      @include media("max", "lg") {
         font-size: 16px;
      }
      @include media("max", "large") {
         font-size: 14px;
      }
      @include media("max", "md") {
         font-size: 13px;
      }

      @include media("max", "sm") {
         display: none;
      }
      @include media("max", "xs") {
         display: none;
      }
   }
   &__topline-right-link {
      // margin-left: 33px;
      position: relative;
      @include media("max", "xs") {
         // display: none;
      }
   }

   &__topline-right-count {
      position: absolute;
      right: -5px;
      bottom: 0;
      color: #000000;
      border-radius: 50%;
      background-color: $circle-count;
      width: 16px;
      height: 16px;
      line-height: 24px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;
   }

   &__topline-right {
      display: flex;
      align-items: flex-end;
   }

   &__menu {
      border: 0;
      background: none;
      @include media("min", "sm") {
         display: none;
      }

      @include media("max", "sm") {
         display: block;
         margin-right: 30px;
      }
      @include media("max", "xs") {
         margin-right: 30px;
      }
   }

   &__title {
      font-weight: bold;
      font-size: 14px;
      line-height: 17px;
      margin-top: 9px;
      margin-bottom: 24px;
   }

   &__sub-title {
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: $desc;
      margin-bottom: 12px;
   }

   &__menu-list {
      margin-bottom: 20px;
   }

   &__menu-link {
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #fff;
   }
}
